OPENAI_API_KEY=sk-TEST1........JKLMN
PERPLEXITY_API_KEY=pplx-TEST......FGHIJKLMN
QDRANT_URL=https://bc9e8b8c-95d2-......c1f.eu-central-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciO......bf8
QDRANT_COLLECTION=qdrant_.....db

LLM_PROVIDER=openai
PERPLEXITY_MODEL=sonar
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
DATABASE_URL=sqlite:///./sparring.db
PORT=8090 # default port for the backend testing server